.main {
    background-color:#343A40;
    color: cornsilk;
}

.body {
    background-color: black;
}

.info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info__element--party{
    color: crimson;
    font-weight: 1000;
}

.main__row {

}